Repository airshipit/treasuremap: changes, and which Zuul jobs are due for each by the changed paths.
All: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, promote-airship-project-docs, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core, airship-treasuremap-deploy-virtual-multi-tenant

Path conditions:
  treasuremap-site-lint: unless all of: ^.*\.rst$, ^doc/.*$
  treasuremap-seaworthy-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy-virt/.*$, ^site/airskiff/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  treasuremap-seaworthy-virt-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/airskiff/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  treasuremap-airskiff-ubuntu-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/seaworthy-virt/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  treasuremap-airskiff-suse-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/seaworthy-virt/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  treasuremap-airsloop-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/seaworthy-virt/.*$, ^site/airskiff/.*$, ^site/aiab/.*$
  treasuremap-aiab-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/seaworthy-virt/.*$, ^site/airskiff/.*$, ^site/airsloop/.*$
  treasuremap-airskiff-deployment-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  treasuremap-airskiff-deployment-suse: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  promote-airship-project-docs: any of: ^doc/.*$
  airship-treasuremap-validate-site-docs: unless all of: ^.*\.md$, ^\.github/.*$
  airship-treasuremap-deploy-virtual-airship-core: any of: ^manifests/site/virtual-airship-core/.*$, ^manifests/type/airship-core/.*$, ^manifests/function/.*$, ^manifests/composite/.*$, ^playbooks/.*$, ^roles/.*$, ^tools/deployment/.*$
  airship-treasuremap-deploy-virtual-multi-tenant: any of: ^manifests/site/virtual-multi-tenant/.*$, ^manifests/type/multi-tenant/.*$, ^manifests/function/.*$, ^manifests/composite/.*$

Update gates to ubuntu-focal
  .gitignore
  .zuul.yaml
  bindep.txt
  doc/source/conf.py
  global/software/charts/kubernetes/dns/coredns.yaml
  global/software/config/versions.yaml
  site/airskiff/software/config/versions.yaml
  tools/airship
  tools/deployment/airskiff/common/os-env.sh
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/020-setup-client.sh
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
  tools/gate/playbooks/airskiff-deploy-gate.yaml
  tools/gate/playbooks/airskiff-reduce-site.yaml
  tools/gate/playbooks/debug-report.yaml
  tools/gate/playbooks/git-config.yaml
  tools/gate/playbooks/initial-setup.yaml
  tools/gate/playbooks/roles/disable-systemd-resolved/tasks/disable-systemd-resolved.yaml
  tools/gate/playbooks/roles/disable-systemd-resolved/tasks/main.yaml
  tools/gate/playbooks/site-lint.yaml
  tox.ini
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, promote-airship-project-docs, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Global manifest update
  global/software/charts/osh/openstack-radosgw/radosgw.yaml
  global/software/charts/osh/openstack-tenant-ceph/ceph-client.yaml
  global/software/charts/osh/openstack-tenant-ceph/ceph-config.yaml
  global/software/charts/osh/openstack-tenant-ceph/ceph-htk.yaml
  global/software/charts/osh/openstack-tenant-ceph/ceph-ingress.yaml
  global/software/charts/osh/openstack-tenant-ceph/ceph-mon.yaml
  global/software/charts/osh/openstack-tenant-ceph/ceph-osd.yaml
  global/software/charts/ucp/armada/armada.yaml
  global/software/charts/ucp/ceph-config/ceph-config.yaml
  global/software/charts/ucp/ceph/ceph-client-update.yaml
  global/software/charts/ucp/ceph/ceph-client.yaml
  global/software/charts/ucp/ceph/ceph-htk.yaml
  global/software/charts/ucp/ceph/ceph-ingress.yaml
  global/software/charts/ucp/ceph/ceph-mon.yaml
  global/software/charts/ucp/ceph/ceph-osd.yaml
  global/software/charts/ucp/ceph/ceph-provisioners.yaml
  global/software/charts/ucp/ceph/ceph-rgw.yaml
  global/software/charts/ucp/core/ingress.yaml
  global/software/charts/ucp/core/mariadb.yaml
  global/software/charts/ucp/core/postgresql.yaml
  global/software/charts/ucp/core/rabbitmq.yaml
  global/software/charts/ucp/deckhand/barbican.yaml
  global/software/charts/ucp/deckhand/deckhand.yaml
  global/software/charts/ucp/divingbell/divingbell.yaml
  global/software/charts/ucp/drydock/drydock.yaml
  global/software/charts/ucp/drydock/maas.yaml
  global/software/charts/ucp/keystone/keystone.yaml
  global/software/charts/ucp/keystone/memcached.yaml
  global/software/charts/ucp/promenade/promenade.yaml
  global/software/charts/ucp/shipyard/shipyard.yaml
  global/software/charts/ucp/ucp-openstack-exporter/prometheus-openstack-exporter.yaml
  global/software/config/versions.yaml
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/015-make-all-charts.sh
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
  tools/gate/playbooks/airskiff-deploy-gate.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Update airskiff to focal
  .zuul.yaml
  global/software/config/versions.yaml
  site/airskiff/software/config/versions.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs

Uplift shipyard and airflow focal images
  global/software/config/versions.yaml
  site/airskiff/software/config/versions.yaml
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
  tools/gate/playbooks/airskiff-deploy-gate.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Localization of k8s deployment script
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/009-setup-apparmor.sh
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
  tools/deployment/airskiff/developer/015-make-all-charts.sh
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
  tools/deployment/airskiff/developer/100-deploy-osh.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

K8s deploy script changes
  global/software/charts/ucp/armada/chart-group.yaml
  global/software/charts/ucp/armada/tiller.yaml
  global/software/charts/ucp/shipyard/shipyard.yaml
  global/software/config/versions.yaml
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
  tools/gate/playbooks/airskiff-deploy-gate.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Airship script fix
  tools/airship
  tools/gate/playbooks/initial-setup.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs

Airskiff deployment updates
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/015-make-all-charts.sh
  tools/deployment/airskiff/developer/020-setup-client.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Airskiff updates
  .zuul.yaml
  global/software/charts/kubernetes/container-networking/calico.yaml
  global/software/charts/kubernetes/container-networking/etcd.yaml
  global/software/charts/kubernetes/core/apiserver.yaml
  global/software/charts/kubernetes/core/controller-manager.yaml
  global/software/charts/kubernetes/core/scheduler.yaml
  global/software/charts/kubernetes/dns/coredns.yaml
  global/software/charts/kubernetes/etcd/etcd.yaml
  global/software/charts/kubernetes/haproxy/haproxy.yaml
  global/software/charts/kubernetes/ingress/ingress.yaml
  global/software/charts/kubernetes/proxy/kubernetes-proxy.yaml
  global/software/charts/osh/openstack-memcached/memcached.yaml
  global/software/config/versions.yaml
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
  tools/deployment/airskiff/developer/100-deploy-osh.sh
  tools/gate/playbooks/airskiff-deploy-gate.yaml
  tools/openstack
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Airskiff deployment fix
  tools/deployment/airskiff/developer/015-make-all-charts.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Global manifests updates
  global/software/charts/osh/openstack-ingress-controller/ingress.yaml
  global/software/charts/osh/openstack-keystone/keystone.yaml
  global/software/charts/osh/openstack-mariadb/mariadb.yaml
  global/software/config/versions.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs

Disk space issue on some zuul nodes
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
  tools/deployment/airskiff/developer/015-make-all-charts.sh
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
  tools/deployment/airskiff/developer/100-deploy-osh.sh
  tools/gate/playbooks/airskiff-deploy-gate.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Downgrade ceph release to pacific
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Downgrade ceph release to octopus
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Workaround for docker hub
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Deprecating the Ingress Class Annotation
  .zuul.yaml
  global/software/charts/kubernetes/ingress/ingress.yaml
  global/software/charts/osh-infra/osh-infra-ingress-controller/ingress.yaml
  global/software/charts/osh/openstack-ingress-controller/ingress.yaml
  global/software/charts/osh/openstack-tenant-ceph/ceph-ingress.yaml
  global/software/charts/ucp/armada/armada.yaml
  global/software/charts/ucp/ceph/ceph-ingress.yaml
  global/software/charts/ucp/core/ingress.yaml
  global/software/charts/ucp/deckhand/barbican.yaml
  global/software/charts/ucp/deckhand/deckhand.yaml
  global/software/charts/ucp/keystone/keystone.yaml
  global/software/charts/ucp/shipyard/shipyard.yaml
  global/software/config/versions.yaml
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
  tools/gate/playbooks/airskiff-deploy-gate.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Bump up default commits
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/015-make-all-charts.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Update k8s to v1.28.4
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Site certs rotate [airsloop]
  site/airsloop/secrets/certificates/calico_etcd_ca.yaml
  site/airsloop/secrets/certificates/calico_etcd_calico_etcd_airsloop_control_1_certificate.yaml
  site/airsloop/secrets/certificates/calico_etcd_calico_etcd_airsloop_control_2_certificate.yaml
  site/airsloop/secrets/certificates/calico_etcd_calico_etcd_airsloop_control_3_certificate.yaml
  site/airsloop/secrets/certificates/calico_etcd_calico_etcd_anchor_certificate.yaml
  site/airsloop/secrets/certificates/calico_etcd_calico_node_certificate.yaml
  site/airsloop/secrets/certificates/calico_etcd_peer_ca.yaml
  site/airsloop/secrets/certificates/calico_etcd_peer_calico_etcd_airsloop_control_1_peer_certificate.yaml
  site/airsloop/secrets/certificates/calico_etcd_peer_calico_etcd_airsloop_control_2_peer_certificate.yaml
  site/airsloop/secrets/certificates/calico_etcd_peer_calico_etcd_airsloop_control_3_peer_certificate.yaml
  site/airsloop/secrets/certificates/calico_etcd_peer_calico_node_peer_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_admin_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_apiserver_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_armada_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_ca.yaml
  site/airsloop/secrets/certificates/kubernetes_controller_manager_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_etcd_apiserver_etcd_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_etcd_ca.yaml
  site/airsloop/secrets/certificates/kubernetes_etcd_kubernetes_etcd_airsloop_control_1_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_etcd_kubernetes_etcd_airsloop_control_2_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_etcd_kubernetes_etcd_airsloop_control_3_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_etcd_kubernetes_etcd_anchor_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_etcd_kubernetes_etcd_genesis_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_etcd_peer_ca.yaml
  site/airsloop/secrets/certificates/kubernetes_etcd_peer_kubernetes_etcd_airsloop_control_1_peer_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_etcd_peer_kubernetes_etcd_airsloop_control_2_peer_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_etcd_peer_kubernetes_etcd_airsloop_control_3_peer_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_etcd_peer_kubernetes_etcd_genesis_peer_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_kubelet_airsloop_compute_1_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_kubelet_airsloop_control_1_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_kubelet_airsloop_control_2_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_kubelet_airsloop_control_3_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_kubelet_genesis_certificate.yaml
  site/airsloop/secrets/certificates/kubernetes_scheduler_certificate.yaml
  site/airsloop/secrets/keypairs/service_account.yaml
Due: treasuremap-site-lint, treasuremap-airsloop-site-lint, airship-treasuremap-validate-site-docs

Update to use k8s v1.29.0
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Use upstream ingress-nginx
  global/software/charts/kubernetes/ingress/ingress.yaml
  global/software/charts/osh-infra/osh-infra-ingress-controller/ingress.yaml
  global/software/charts/osh/openstack-ingress-controller/ingress.yaml
  global/software/charts/osh/openstack-tenant-ceph/ceph-ingress.yaml
  global/software/charts/ucp/ceph/ceph-ingress.yaml
  global/software/charts/ucp/core/ingress.yaml
  global/software/config/versions.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs

Switch mariadb to primary service
  .zuul.yaml
  global/software/charts/osh-infra/osh-infra-mariadb/mariadb.yaml
  global/software/charts/osh/openstack-mariadb/mariadb.yaml
  global/software/charts/ucp/core/mariadb.yaml
  global/software/config/versions.yaml
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  type/skiff/config/endpoints.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

bump etcd to v3.5.11
  global/profiles/genesis.yaml
  global/schemas/promenade/Genesis/v1.yaml
  global/software/charts/kubernetes/core/apiserver.yaml
  global/software/config/versions.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs

Full-site deploy
  .zuul.yaml
  global/software/config/versions.yaml
  global/software/manifests/full-site.yaml
  tools/deployment/airskiff/common/sleep.sh
  tools/deployment/airskiff/developer/000-prepare-k8s.sh
  tools/deployment/airskiff/developer/015-make-all-charts.sh
  tools/deployment/airskiff/developer/025-start-artifactory.sh
  tools/deployment/airskiff/developer/026-reduce-site.sh
  tools/gate/playbooks/airship-run-scripts.yaml
  tools/gate/playbooks/airskiff-deploy-gate.yaml
  tools/gate/playbooks/deploy-env.yaml
  tools/gate/playbooks/mount-volumes.yaml
  tools/gate/playbooks/osh-infra-collect-logs.yaml
  tools/gate/playbooks/prepare-hosts.yaml
  tools/gate/playbooks/roles/airship-run-script-set/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script-set/tasks/main.yaml
  tools/gate/playbooks/roles/airship-run-script/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script/tasks/main.yaml
  tools/gate/playbooks/roles/disable-systemd-resolved/tasks/disable-systemd-resolved.yaml
  tools/gate/playbooks/site-lint.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Update Kubernetes to v1.29.2
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Full site deploy with custom images
  .zuul.yaml
  site/airskiff/software/config/versions.yaml
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
  tools/deployment/airskiff/developer/015-make-all-charts.sh
  tools/deployment/airskiff/developer/017-make-all-images.sh
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
  tools/gate/playbooks/roles/airship-run-script-set/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script-set/tasks/main.yaml
  tools/gate/playbooks/roles/airship-run-script/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script/tasks/main.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Armada command integration
  tools/airship
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Add Airskiff armada-operator deployment
  .zuul.yaml
  global/software/charts/osh/openstack-cinder/cinder.yaml
  global/software/charts/osh/openstack-glance/glance.yaml
  global/software/charts/osh/openstack-heat/heat.yaml
  global/software/config/versions.yaml
  tools/airship
  tools/deployment/airskiff/common/sleep.sh
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/015-make-all-charts.sh
  tools/deployment/airskiff/developer/017-make-all-images.sh
  tools/deployment/airskiff/developer/027-enable-armada-operator.sh
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
  tools/gate/manifests/armada.yaml
  tools/gate/playbooks/roles/airship-run-script-set/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script-set/tasks/main.yaml
  tools/gate/playbooks/roles/airship-run-script/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script/tasks/main.yaml
  type/skiff/charts/ucp/armada/armada.yaml
  type/skiff/charts/ucp/deckhand/deckhand.yaml
  type/skiff/charts/ucp/shipyard/shipyard.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Updated kubernetes-entrypoint image
  .zuul.yaml
  global/software/config/versions.yaml
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/000-prepare-k8s.sh
  tools/deployment/airskiff/developer/015-make-all-charts.sh
  tools/deployment/airskiff/developer/017-make-all-images.sh
  tools/gate/playbooks/roles/airship-run-script-set/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script-set/tasks/main.yaml
  tools/gate/playbooks/roles/airship-run-script/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script/tasks/main.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Fix custom image roles
  tools/gate/playbooks/roles/airship-run-script-set/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script-set/tasks/main.yaml
  tools/gate/playbooks/roles/airship-run-script/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script/tasks/main.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs

Remove temp DNS resolver fix
  tools/deployment/airskiff/developer/000-prepare-k8s.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Update deploy-env parameters
  .zuul.yaml
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
  tools/deployment/airskiff/developer/100-deploy-osh.sh
  tools/gate/playbooks/deploy-env.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Ingres-nginx upgrade
  .zuul.yaml
  global/software/config/versions.yaml
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/000-sleep.sh
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
  tools/gate/playbooks/prepare-hosts.yaml
  tools/gate/playbooks/roles/airship-run-script-set/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script-set/tasks/main.yaml
  tools/gate/playbooks/roles/airship-run-script/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script/tasks/main.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Preps for jammy
  .zuul.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs

Update for customized images build
  global/software/charts/ucp/deckhand/deckhand.yaml
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/017-make-all-images.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Fix for readthedocs publishing
  .readthedocs.yaml
  doc/requirements.txt
  doc/source/conf.py
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, promote-airship-project-docs, airship-treasuremap-validate-site-docs

Switch to ubuntu_jammy images for Airship
  global/software/config/versions.yaml
  site/airskiff/software/config/versions.yaml
  tools/gate/playbooks/roles/disable-systemd-resolved/tasks/disable-systemd-resolved.yaml
  tools/gate/playbooks/roles/disable-systemd-resolved/tasks/main.yaml
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs

Docker.io ratelimit workaround
  tools/deployment/airskiff/developer/017-make-all-images.sh
  tools/deployment/seaworthy-virt/registry/start.sh
Due: treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, treasuremap-airskiff-deployment-suse, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core
