Repository airshipit/treasuremap: changes, and which Zuul jobs are due for each by the changed paths.
All: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, promote-airship-project-docs, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core, airship-treasuremap-deploy-virtual-multi-tenant

Path conditions:
  treasuremap-airskiff-multinode-full-site: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^site/seaworthy/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  treasuremap-airskiff-1node-reduced-site: unless all of: ^.*\.rst$, ^doc/.*$, ^releasenotes/.*$, ^site/seaworthy/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  treasuremap-site-lint: unless all of: ^.*\.rst$, ^doc/.*$
  treasuremap-seaworthy-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy-virt/.*$, ^site/airskiff/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  treasuremap-seaworthy-virt-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/airskiff/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  treasuremap-airskiff-ubuntu-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/seaworthy-virt/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  treasuremap-airskiff-suse-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/seaworthy-virt/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  treasuremap-airsloop-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/seaworthy-virt/.*$, ^site/airskiff/.*$, ^site/aiab/.*$
  treasuremap-aiab-site-lint: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/seaworthy-virt/.*$, ^site/airskiff/.*$, ^site/airsloop/.*$
  treasuremap-airskiff-deployment-ubuntu: unless all of: ^.*\.rst$, ^doc/.*$, ^site/seaworthy/.*$, ^site/airsloop/.*$, ^site/aiab/.*$
  promote-airship-project-docs: any of: ^doc/.*$
  airship-treasuremap-validate-site-docs: unless all of: ^.*\.md$, ^\.github/.*$
  airship-treasuremap-deploy-virtual-airship-core: any of: ^manifests/site/virtual-airship-core/.*$, ^manifests/type/airship-core/.*$, ^manifests/function/.*$, ^manifests/composite/.*$, ^playbooks/.*$, ^roles/.*$, ^tools/deployment/.*$
  airship-treasuremap-deploy-virtual-multi-tenant: any of: ^manifests/site/virtual-multi-tenant/.*$, ^manifests/type/multi-tenant/.*$, ^manifests/function/.*$, ^manifests/composite/.*$

Update armada images
  global/software/config/versions.yaml
  tools/deployment/airskiff/developer/000-prepare-k8s.sh
  tools/deployment/airskiff/developer/017-make-all-images.sh
  tools/deployment/airskiff/developer/020-setup-client.sh
  tools/deployment/airskiff/developer/025-start-artifactory.sh
  tools/deployment/seaworthy-virt/registry/start.sh
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Airship updates
  .zuul.yaml
  global/software/charts/ucp/core/mariadb.yaml
  global/software/config/versions.yaml
  tools/deployment/airskiff/common/get-airflow-worker-logs.sh
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/015-make-all-charts.sh
  tools/gate/playbooks/deploy-env.yaml
  tools/gate/playbooks/prepare-hosts.yaml
  tools/gate/playbooks/roles/airship-run-script-set/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script-set/tasks/main.yaml
  tools/gate/playbooks/roles/airship-run-script/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script/tasks/main.yaml
  type/skiff/charts/ucp/core/mariadb.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Airskiff updates
  global/software/config/versions.yaml
  tools/deployment/airskiff/developer/015-make-all-charts.sh
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Update OSH-infra and OSH pinned commits
  .zuul.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Another HTK uplift
  .zuul.yaml
  tools/deployment/airskiff/developer/015-make-all-charts.sh
  tools/gate/playbooks/roles/airship-run-script-set/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script-set/tasks/main.yaml
  tools/gate/playbooks/roles/airship-run-script/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script/tasks/main.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Follow up on osh-infra change
  .gitignore
  tools/deployment/airskiff/developer/015-make-all-charts.sh
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Preparation for osh-infra merger
  .zuul.yaml
  doc/source/airsloop.rst
  global/schemas/pegleg/SoftwareVersions/v1.yaml
  global/software/charts/osh-infra/osh-infra-ceph-config/ceph-config.yaml
  global/software/charts/osh/openstack-ceph-config/ceph-config.yaml
  global/software/charts/osh/openstack-compute-kit/libvirt.yaml
  global/software/charts/osh/openstack-compute-kit/neutron.yaml
  global/software/charts/osh/openstack-compute-kit/nova.yaml
  global/software/charts/osh/openstack-compute-kit/openvswitch.yaml
  global/software/charts/osh/openstack-horizon/horizon.yaml
  global/software/charts/osh/openstack-rabbitmq/rabbitmq.yaml
  global/software/charts/osh/openstack-tempest/tempest.yaml
  global/software/charts/utilities/calicoctl-utility.yaml
  global/software/charts/utilities/ceph-utility-config.yaml
  global/software/charts/utilities/ceph-utility.yaml
  global/software/charts/utilities/compute-utility.yaml
  global/software/charts/utilities/etcdctl-utility.yaml
  global/software/charts/utilities/mysqlclient-utility.yaml
  global/software/charts/utilities/openstack-utility.yaml
  global/software/charts/utilities/postgresql-utility.yaml
  global/software/config/versions.yaml
  site/seaworthy-virt/software/charts/kubernetes/container-networking/calico.yaml
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/015-make-all-charts.sh
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, promote-airship-project-docs, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Use roles from airship/kubernetes-entrypoint
  .zuul.yaml
  tools/gate/playbooks/roles/airship-run-script-set/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script-set/tasks/main.yaml
  tools/gate/playbooks/roles/airship-run-script/defaults/main.yaml
  tools/gate/playbooks/roles/airship-run-script/tasks/main.yaml
  tools/gate/playbooks/roles/disable-systemd-resolved/tasks/main.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Set stable HTK_COMMIT value
  .zuul.yaml
  global/software/config/versions.yaml
  tools/gate/playbooks/airskiff-deploy-gate.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Airflow 3.0.2 and dynamic secrets generation
  .zuul.yaml
  global/software/charts/ucp/shipyard/shipyard.yaml
  tools/deployment/airskiff/common/generate_security_keys.py
  tools/deployment/airskiff/developer/026-reduce-site.sh
  tools/gate/lint-site.sh
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Update Airskiff to use Helm v3.18.4 and latest HTK/OSH commits
  .zuul.yaml
  tools/deployment/airskiff/developer/000-prepare-k8s.sh
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Prepare shared base Airskiff deployment job
  .zuul.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Add checkout-treasuremap-ref.yaml playbook
  .zuul.yaml
  tools/gate/playbooks/checkout-treasuremap-ref.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Move airship-run-script role back to treasuremap
  .zuul.yaml
  tools/deployment/airskiff/developer/010-deploy-k8s.sh
  tools/deployment/airskiff/developer/022-generate_security_keys.sh
  tools/deployment/airskiff/developer/026-reduce-site.sh
  tools/gate/playbooks/airship-run-scripts.yaml
  tools/gate/playbooks/osh-infra-collect-logs.yaml
  tools/gate/playbooks/roles
  tools/gate/roles/airship-run-script-set/defaults/main.yaml
  tools/gate/roles/airship-run-script-set/tasks/main.yaml
  tools/gate/roles/airship-run-script/defaults/main.yaml
  tools/gate/roles/airship-run-script/tasks/main.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

[ansible] Move roles to the root directory
  roles/airship-run-script-set/defaults/main.yaml
  roles/airship-run-script-set/tasks/main.yaml
  roles/airship-run-script/defaults/main.yaml
  roles/airship-run-script/tasks/main.yaml
  tools/gate/playbooks/roles
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Update deploy-env role default setup
  .zuul.yaml
  tools/deployment/airskiff/developer/000-prepare-k8s.sh
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Adjust checkout-treasuremap-ref playbook
  tools/gate/playbooks/checkout-treasuremap-ref.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Fix checkout-treasuremap-ref playbook
  tools/gate/playbooks/checkout-treasuremap-ref.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Add Maas and Drydock deployment to Airskiff
  .gitignore
  .zuul.yaml
  doc/source/index.rst
  doc/source/seaworthy-virt.rst
  doc/source/seaworthy-virt/multinode_deploy.json
  doc/source/seaworthy-virt/update_site.json
  global/profiles/kubernetes-host.yaml
  global/schemas/promenade/HostSystem/v1.yaml
  global/software/charts/ucp/drydock/maas.yaml
  global/software/charts/ucp/promenade/promenade.yaml
  global/software/config/versions.yaml
  roles/airship-run-script-set/defaults/main.yaml
  roles/airship-run-script-set/tasks/main.yaml
  roles/airship-run-script/defaults/main.yaml
  roles/airship-run-script/tasks/main.yaml
  site/airskiff/secrets/passphrases/airship_drydock_kvm_ssh_key.yaml
  site/airskiff/software/charts/ucp/drydock/drydock.yaml
  site/airskiff/software/charts/ucp/drydock/maas.yaml
  site/seaworthy-virt/software/charts/ucp/drydock/maas.yaml
  tools/airship
  tools/deployment/airskiff/developer/000-clone-dependencies.sh
  tools/deployment/airskiff/developer/000-prepare-k8s.sh
  tools/deployment/airskiff/developer/015-make-all-charts.sh
  tools/deployment/airskiff/developer/017-make-all-images.sh
  tools/deployment/airskiff/developer/028-enable-maas-drydock.sh
  tools/deployment/airskiff/developer/030-armada-bootstrap.sh
  tools/fixes/hanging-cgroup-release.sh
  tools/fixes/rbd-roomba-scanner.sh
  tools/gate/lint-site.sh
  tools/gate/manifests/bootstrap.yaml
  tools/gate/manifests/shipyard.yaml
  tools/gate/playbooks/generate-certs.yaml
  type/foundry/charts/ucp/comps/maas.yaml
  type/skiff/config/endpoints.yaml
  type/skiff/networks/common-addresses.yaml
  type/sloop/charts/ucp/comps/maas.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, promote-airship-project-docs, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Add Noble images deploy for Maas
  tools/deployment/airskiff/developer/017-make-all-images.sh
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Update deploy-env params from OSH project
  .zuul.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Update OSH and HTK commits
  .zuul.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Ensure_helm task requires version without 'v' prefix
  .zuul.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

New GitHub upload secret
  .zuul.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Noble armada images for armada operator jobs
  .zuul.yaml
  global/software/config/versions.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

PIP3 with break-system-packages for Noble
  tools/gate/playbooks/checkout-treasuremap-ref.yaml
  tools/gate/playbooks/deploy-env.yaml
  tools/gate/playbooks/initial-setup.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Switch to Noble nodesets for Zuul jobs
  .zuul.yaml
  tools/gate/playbooks/deploy-env.yaml
  tools/gate/playbooks/initial-setup.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Airskiff: Switch to Noble images
  global/software/config/versions.yaml
  site/airskiff/software/config/versions.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Add MAAS upgrade script and conditional sleep/upgrade flags
  .zuul.yaml
  global/software/config/versions.yaml
  roles/airship-run-script-set/tasks/main.yaml
  roles/airship-run-script/tasks/main.yaml
  tools/deployment/airskiff/common/sleep.sh
  tools/deployment/airskiff/developer/000-sleep.sh
  tools/deployment/airskiff/developer/028-enable-maas-drydock.sh
  tools/deployment/airskiff/developer/200-upgrade-maas.sh
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Update OSH dependences
  .zuul.yaml
  global/software/config/versions.yaml
  tools/deployment/airskiff/common/sleep.sh
  tools/gate/playbooks/deploy-env.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Enable Metallb and Envoy Gateway for Airskiff
  .zuul.yaml
  tools/gate/playbooks/prepare-hosts.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

add curl retry option in airskiff script
  tools/deployment/airskiff/developer/017-make-all-images.sh
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Airskiff: switch to 5-node jobs, upgrade Helm 4.1.1, fix chart wait config
  .zuul.yaml
  global/software/charts/ucp/core/mariadb.yaml
  global/software/charts/ucp/core/postgresql.yaml
  global/software/charts/ucp/core/rabbitmq.yaml
  global/software/charts/ucp/deckhand/barbican.yaml
  global/software/charts/ucp/deckhand/deckhand.yaml
  global/software/charts/ucp/drydock/drydock.yaml
  global/software/charts/ucp/drydock/maas.yaml
  global/software/charts/ucp/keystone/keystone.yaml
  global/software/charts/ucp/shipyard/shipyard.yaml
  tools/deployment/airskiff/developer/020-setup-client.sh
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Make armada-operator deployment conditional on USE_ARMADA_GO
  .zuul.yaml
  tools/deployment/airskiff/developer/027-enable-armada-operator.sh
  tools/gate/playbooks/deploy-env.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Add common gate playbooks and expose Airflow/MAAS UI in Airskiff
  .zuul.yaml
  global/software/charts/ucp/shipyard/shipyard.yaml
  tools/deployment/airskiff/developer/050-expose-airflow-ui.sh
  tools/deployment/airskiff/developer/100-deploy-osh.sh
  tools/deployment/airskiff/developer/200-upgrade-maas.sh
  tools/gate/playbooks/airship-docker-image-build.yaml
  tools/gate/playbooks/build-charts.yaml
  tools/gate/playbooks/vars.yaml
  tools/gate/wait-for-shipyard.sh
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

playbooks: fix DISTRO not passed to make in image build
  tools/deployment/airskiff/developer/050-expose-airflow-ui.sh
  tools/deployment/airskiff/developer/100-deploy-osh.sh
  tools/deployment/airskiff/developer/200-upgrade-maas.sh
  tools/gate/playbooks/airship-docker-image-build.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs, airship-treasuremap-deploy-virtual-airship-core

Update HTK and OSH commit
  .zuul.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Switch from bionic to jammy nodes
  .zuul.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs

Fix bionic label
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/projects.yaml
  zuul.d/secrets.yaml
Due: treasuremap-airskiff-multinode-full-site, treasuremap-airskiff-1node-reduced-site, treasuremap-site-lint, treasuremap-seaworthy-site-lint, treasuremap-seaworthy-virt-site-lint, treasuremap-airskiff-ubuntu-site-lint, treasuremap-airskiff-suse-site-lint, treasuremap-airsloop-site-lint, treasuremap-aiab-site-lint, treasuremap-airskiff-deployment-ubuntu, airship-treasuremap-validate-site-docs
